/* 플레이어 말 위치*/
.board{
    position: relative;
}
.board .cells .cell {
    position: relative;
}

.player{
    display: block;
    position: absolute;
    ;
}

#redPlayer{
    left:25%;
    top:25%;
    transform : translate(-50% ,-50%) ;
    background-image:url('../player/img/redPlayer.png');
    width:100px;
    height:100px;
}
#bluePlayer{
    left:25%;
    top:-10%;
    transform : translate(-50% ,-50%) ;
    background-image:url('../player/img/bluePlayer.png');
    width:100px;
    height:100px;
}


#redPlayer, #bluePlayer {
    transform: scale(0.3);
}